.no-padding {
  padding: 0 !important;
}

.prose {
  color: var(--color-slate-600);
  font-family: Inter, sans-serif;
  margin-bottom: 30px;
  letter-spacing: -0.4px;

  h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 800;
  }
  h2 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  blockquote {
    font-weight: 400;
    line-height: 24px;
    border-inline-start-width: 2px;
    padding-inline-start: 24px;
  }
  /* Default table styles */
  th:hover,
  td:hover {
    background-color: #f4f4f5;
  }
  th,
  td {
    padding: 8px 16px !important;
  }
  th p {
    font-weight: 700;
  }
  ul {
    margin-left: 16px;
  }
  li::marker {
    color: #18181b;
  }

  code::after {
    content: "";
  }
  code::before {
    content: "";
  }

  button[title="Delete code block"]:disabled {
    display: none;
  }

  strong {
    color: var(--color-slate-600);
  }

  img {
    margin-top: 1rem;
    margin-bottom: 1rem;

    max-width: 100% !important;
  }

  /* To hide language selector */
  /* span[data-state="closed"]:has(button:disabled) {
    display: none;
  } */

  span[data-state="closed"]:has(button:disabled) span:has(svg),
  span[data-state="delayed-open"]:has(button:disabled) span:has(svg),
  span[data-state="instant-open"]:has(button:disabled) span:has(svg) {
    display: none;
  }

  @media (max-width: 768px) {
    word-break: break-word;

    h1 {
      font-size: var(--text-3xl);
    }
    h2 {
      font-size: var(--text-2xl);
    }
    h3 {
      font-size: var(--text-xl);
    }

    p {
      font-size: var(--text-sm);
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      border: none;
    }

    tbody {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    tr {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-gray-border);
      border-radius: 12px;
      padding: 0;
      overflow: hidden;
    }

    td {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px !important;
      border: none !important;
      border-bottom: 1px solid var(--color-gray-border) !important;
    }

    td:last-child {
      border-bottom: none !important;
    }

    .table-key {
      margin-right: 10px;

      color: var(--color-slate-400);
      font-size: 14px;
      font-weight: 400;
    }

    .table-value {
      font-size: 14px;
      font-weight: 500;
      text-align: right;
    }

    th:hover,
    td:hover {
      background-color: transparent;
    }
  }
}

.mdxeditor-popup-container:has(div[role="dialog"]) {
  z-index: 60 !important;
}
